<h1>Edit Articles</h1>
<p align="right"><%= link_to "View Articles", root_path %></p>
<ul>
<%- @articles.each do |article| %>
   <li><%= link_to h(article.title), edit_article_path(article) %></li>
<%- end %>
</ul>
<%= button_to "Add New Article", new_article_path %>